APP_NAME=Laravel
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CMS_HOST=127.0.0.1
DB_CMS_PORT=3306
DB_CMS_DATABASE=cms-database-name
DB_CMS_USERNAME=cms-database-username
DB_CMS_PASSWORD=cms-database-username

BROADCAST_DRIVER=log
CACHE_DRIVER=array
SESSION_DRIVER=array
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

FLIPBOX_CMS_URL=???
FLIPBOX_CMS_CONNECTION=cms
FLIPBOX_CMS_TRANSLATION_PATH=/path/to/your/cms/resources/lang